<div class="success">
    <div class="bg">
    </div>
    <div class="container">
        <img src="https://www.linkpicture.com/q/check_3.png">

        <div class="message">Success!</div>
        <div class="booking-id">BOOKING ID #<%= @booking.id %></div>
        <div class="text">
            Your booking has been confirmed. Check your email for more details.
        </div>
        <%= link_to "Done", categories_path %>
    </div>
</div>
