<div class="new-timeslot">
  <div class="bg"></div>
  <div class="top">
    <%= link_to "< New time slot", category_time_slots_path(@category) %>
  </div>
  <div class="container">
    <%= render "form", time_slot: @time_slot, url: category_time_slots_path(@category) %>
  </div>
</div>
