<div class="settings">
  <div class="bg"></div>
  <div class="top">
    <%= link_to "< Settings", user_path(current_user) %>
  </div>
  <%= render "form", user: @user, submit: "Update" %>
  <%= link_to "Delete Account",
  @user,
  data: {
    turbo_method: :delete,
    turbo_confirm: "Are you sure?"
  }, class: "delete" %>
  <div>

