<div class="users">
  <div class="bg"></div>
  <div class="top">
    <%= link_to "< Users", categories_path %>
  </div>
  <div id="user">
    <% @users.each do |user| %>
      <%= render user %>
    <% end %>
  </div>
</div>
