<div class="login">
  <div class="logo">
    <img src="https://www.linkpicture.com/q/logo_239.png">
    <div class="name">Glow up</div>
  </div>
  <div class="form">
    <%= render "form", user: @user, submit: "Sign up" %>
    <div class="text">
      Already have an account?
      <%= link_to "Log in", login_path %>
    </div>
  </div>
</div>
