.booking-form {
  width: 370px;
  height: 750px;
  padding: 0 50px;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  .bg {
    height: 120px;
    width: 370px;
    background-color: #ef768b;
    border-radius: 50px 50px 0 0;
    display: flex;
    align-items: flex-end;
    padding: 0 0 15px 60px;
    z-index: -2;
  }

  .top {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 11%;
    left: 9%;

    a {
      text-decoration: none;
      color: white;
    }
  }

  .back {
    margin-right: 10px;
    text-decoration: none;
    border-radius: 50%;
    font-size: 20px;
    font-weight: 700;
    color: white;
  }

  form {
    width: 300px;
    margin-top: 20px;

    label {
      font-size: 12px;
      color: grey;
      margin-bottom: 5px;
    }

    input {
      font-size: 12px;
      padding: 0 20px;
      height: 35px;
      width: 300px;
      margin-bottom: 5px;
      outline: none;
      border: none;
      border-radius: 10px;
      box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
      -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
    }

    input[type='submit'] {
      background-color: #d66275;
      color: white;
      border: none;
      outline: none;
      cursor: pointer;
      margin-top: 20px;
    }
  }
}
